extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
block main
    h1 Product Page

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6
                    + filter-status(filterStatus)
                .col-6
                    +form-search("form-search",keyword)
    .card.mb-3
        .card-header Danh sách sản phẩm
            .card-body
                +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                table(class="table table-hover table-sm" checkbox-multi)
                    thead
                        tr
                            th
                                input(type="checkbox" name="checkall")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Giá
                            th Trạng thái
                            th Hành động
                    -let index=1
                    tbody                               
                        -for(let product of products)
                            tr
                                td
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=product._id
                                    )
                                td #{index++}
                                td
                                    img(src=product.thumbnail
                                        alt=product.description
                                        width="100px"
                                        height="auto"
                                    )
                                td #{product.title}
                                td #{product.priceNew}$
                                td
                                    a(href="javascript:;" 
                                      data-id=product._id
                                      data-status=product.status
                                      class=product.badge
                                      button-change-status
                                    ) #{product.stt}
                                td
                                    button(class="btn btn-warning btn-sm") Sửa
                                    button(class="btn btn-danger btn-sm ml-1") Xóa
    +pagination(objectPagination)
    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )
    script(src="/admin/js/product.js")