extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug 
include ../../mixins/sort-select.pug
include ../../mixins/formatDateTime.pug

block main
    h1 Product Page
    .card.mb-3
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)
                .col-6
                    +form-search("form-change-products", keyword)
    +sort-select()
    .card.mb-3
        .card-header Danh sách sản phẩm
            +alert-success(2000)

        .card-body
            .row
                .col-8
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`, `${prefixAdmin}/products/recovery`)
                .col-4
                  if(role.permissions.includes('product_create'))
                    a(
                        href=`${prefixAdmin}/products/create`
                        class="btn btn-outline-success"
                    ) +Thêm mới
   
            table(class="table table-hover table-sm" checkbox-multi)
                thead
                    tr
                        th
                            input(type="checkbox" name="checkall")
                        th STT
                        th Hình ảnh
                        th Tên sản phẩm
                        th Giá
                        th Vị trí
                        th Trạng thái
                        th Hành động
                        th Chỉnh sửa gần nhất
                        th Người tạo
                tbody                               
                    -for(let product of products)
                        tr
                            td
                                input(
                                    type="checkbox"
                                    name="id"
                                    value=product._id
                                    data-position=product.position
                                )
                            td #{index++}
                            td
                                img(src=product.thumbnail
                                    alt=!product.description
                                    width="100px"
                                    height="auto"
                                )
                            td #{product.title}
                            td #{product.priceNew}$
                            td 
                                input(
                                    type="number"
                                    value=product.position
                                    style="width:60px"
                                    min="1"
                                    name="position"
                                )
                            td
                                a(href="javascript:;" 
                                    data-id=product._id
                                    data-status=product.status
                                    class=product.badge
                                    button-change-status=role.permissions.includes('product_edit')
                                ) #{product.stt}
                            td
                              
                              a(
                                href=`${prefixAdmin}/products/detail/${product._id}`
                                class="btn btn-primary btn-sm" data-id=product._id
                              ) Chi tiết
                              if(role.permissions.includes('product_edit'))
                                a(
                                    href=`${prefixAdmin}/products/edit/${product._id}`
                                    class="btn btn-warning btn-sm" data-id=product._id
                                ) Sửa
                              if(role.permissions.includes('product_delete'))
                                button(class="btn btn-danger btn-sm ml-1" data-id=product._id button-delete) Xóa
                            td
                              if(product.updateUser)
                                if(role.permissions.includes('account_views'))
                                  a(
                                    href=`${prefixAdmin}/accounts/detail/${product.updateUser._id}`
                                  ) #{product.updateUser.fullName}
                                else
                                  b #{product.updateUser}
                                +formatDateTime(product.updatedBy[product.updatedBy.length-1].updatedAt)
                              else
                                p <i>Chưa chỉnh sửa!</i>
                            td
                              if(product.createUser)
                                if(role.permissions.includes('account_views')) 
                                  a(
                                    href=`${prefixAdmin}/accounts/detail/${user._id}`
                                  ) #{product.createUser}
                                else
                                  b #{product.createUser}
                                
                                +formatDateTime(product.createdBy.createdAt)
                              else
                                p <i>Không có dữ liệu</i>
                              
    +pagination(objectPagination)
    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )
    form(
        action=""
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/products/delete`
    )
    script(src="/admin/js/product.js")