include ../mixins/sub-menu.pug
header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/" style="font-size:36px;font-weight:600;background: linear-gradient(to right, red, blue);-webkit-background-clip: text;-webkit-text-fill-color: transparent;" id="logo") hhoang Shop
      .col-5
        form(
          action="/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa"
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm
      .col-4
        .inner-menu
          ul
            li
              a(href="/") Homepage
            li(class="sub-menu")
              -const pathProduct='/products'
              a(href=pathProduct) Product
              +sub-menu(layoutProductCategory, pathProduct)
            li
              a(href="/cart") Giỏ hàng (#{miniCart?miniCart.totalQuantity:0})
            if(!user)
              li
                a(href='/users/register') Đăng ký
              li
                a(href='/users/login') Đăng nhập
            else
              li
                a(href="/users/info") Thông tin cá nhân
              li
                a(href='/users/logout') Đăng xuất