extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                .box-head
                    +box-head("Danh sách")
        .row
            -for (let product of products)
                .col-4.mb-3
                    .product-item
                        .inner-image
                            img(src=product.thumbnail, alt=product.description)
                        .inner-content
                            h3.inner-title #{product.title}
                            .inner-price-new #{product.priceNew}$
                            .inner-price-old #{product.price}$
                            .inner-discount -#{product.discountPercentage}%
