mixin select-tree(items, level=1)
    -for(let item of items)
        -const prefix=Array(level+1).join('-- ')
        option(value=item._id) #{prefix}#{item.title}
        if item.children && item.children.length>0
            +select-tree(item.children,level+1)

mixin select-tree-category-edit(items,record, level=1)
    -for(let item of items)
        -const prefix=Array(level+1).join('-- ')
        option(value=item._id selected=(record.parent_id==item._id)) #{prefix}#{item.title}
        if item.children && item.children.length>0
            +select-tree-category-edit(item.children,record,level+1)

mixin select-tree-product-edit(items,record, level=1)
    -for(let item of items)
        -const prefix=Array(level+1).join('-- ')
        option(value=item._id selected=(record.product_category_id==item._id)) #{prefix}#{item.title}
        if item.children && item.children.length>0
            +select-tree-product-edit(item.children,record,level+1)

